*{
    margin: 0;
    padding: 0;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
    padding-left: 5%;
    padding-right: 5%;
    font-weight: bold;
    background-color: rgb(222, 129, 129);
}

h1{
    color: black;
    font-size: 45px;
}

ul {
    display: inline-block;
    padding: 0px 20px;
}

a{
    color: brown;
    text-decoration: none;
}

a:hover{
    color: blue;
}