*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #391d34;
}

img {
    
    max-width: 100%;
    
}

.container{
    max-width: 1200px;
    margin: 0 auto;
}

.header{
    
   background-image: url(imagenes/itadori2.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    display: flex;
    align-items: center;
    min-height: 80vh;
    padding: 80px 0;
}

.menu {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.logo {
    width: 350px;
    
}

.menu .navbar ul li {
    position: relative;
    float: left;
}

.menu .navbar ul li a {
    font-size: 18px;
    padding: 20px;
    color: #291e1e;
    font-weight: 600;
    display: block;
}

.menu .navbar ul li a:hover{
    text-decoration: underline;
    color: rgb(121, 99, 99);
}

#menu {
    display: none;
}

.menu-icono{
    width: 25px;
}

.menu label {
    cursor: pointer;
    display: none;
}

.header-content {
    display: flex;
}

.header-txt {
    flex-basis: 50%;
}

.header-txt h1 {
    font-size: 60px;
    color: rgb(71, 26, 26);
    line-height: 1.3;
    margin-bottom: 25px;
    margin-right: 25px;
    font-weight: 700;
   
}

.header-txt p {
    font-size: 20px;
    color: rgb(255, 255, 255);
    margin-bottom: 45px;
    margin-right: 25px;
    font-weight: 800;
   
}

.popular {
    padding: 100px 0;
    text-align: center;
}

.popular h2{
    color: #2a1821;
    background-color: #5a3044;
    font-size: 35px;
    margin-bottom: 45px;
    border: 0;
    border-radius: 25px;
    margin-right: 25px;
    margin-left: 25px;
}

p{
    color: #38272f;
    font-size: 25px;
    font-weight: 300;
    margin-right: 25px;
    margin-left: 25px;
    text-align: justify;
}

p span{
    background: #524149;
    color: #ffffff;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    width: 30px;
    height: 30px;
    padding: 2px;
    box-shadow: 0 0 6px 0 #000000;
}

.popular-content {
       display: block;
       background-color: #816170;
       border: 0;
       border-radius: 25px;
       margin-right: 25px;
        margin-left: 25px;
}

.tenor-gif-embed{
   max-width: 100%;
   height: 350px;
}

footer{
    background: #2a1821;
    padding: 30px 0 30px 0;
    margin: auto;
    overflow: hidden;

}

.titulo-final{
    text-align: center;
    font-size: 24px;
    margin: 20px 0 0 0;
    color: #524149;
}

@media(max-width:991px){
    .menu{
        padding: 20px;
    }
    .menu label{
        display: initial;
    }
    .menu .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: #524149;
        display: none;
    }
    .menu .navbar ul li a:hover{
        color: rgb(172, 147, 147);
    }
    .menu .navbar ul li{
        width: 100%;
    }
    #menu:checked ~ .navbar{
        display: initial;
    }
    .header{
        min-height: 0vh;
        padding: 80px 30px 50px 30px;
    }
    .header-txt{
        text-align: center;
        flex-basis: 100%;
    }
    .header-txt h1{
        font-size: 50px;
        margin-bottom: 15px;
    }

    .popular-content{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .tenor-gif-embed{
        width: 90%;
    }
   
}